@font-face {
    font-family: "Roboto-regular";
    src: url(Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Roboto-light-italic";
    src: url(Roboto/Roboto-LightItalic.ttf) format('truetype');
}

@font-face {
    font-family: "Roboto-bold";
    src: url(Roboto/Roboto-Bold.ttf) format('truetype');
}

body {
    margin: 0;
}

.top-section {
    background-color: #1f2937;
    padding-bottom: 50px;
}

header {
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.top-section header p{
font-family: 'Roboto-regular', sans-serif;
font-size: 24px;
color: #f9faf8;
}

.header-link {
    font-family: 'Roboto-regular', sans-serif;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 25%;
    justify-content:space-between;
}

.header-link a {
    font-family: 'Roboto-regular', sans-serif;
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
     justify-content: space-between;
}

.header-link a:hover{
    color: #3882f6;
}

.text-and-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 77px;
    padding-top: 50px;
}

.main-image{
    height:auto;
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 50px;
}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    width:30%;
    height: auto;
}

h1 {
    font-family: 'Roboto-bold',sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: #f9faf8;
    margin-bottom: 5px;
}

.secondary-text {
    font-family: 'Roboto-regular', sans-serif;
    color: #f9faf8;
    font-size: 18px;
    margin: 0 0 5px 0;
}

button {
    font-family: 'Roboto-regular', sans-serif;
    background-color: #3882f6;
    font-size: 18px;
    color:#f9faf8;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    margin-right: 0;
    margin-top:10px;
    width:30%;
}

button:hover {
    background-color: #f9faf8;
    color:#3882f6;
}

h2 {
    color: #1f2937;
    font-family: 'Roboto-bold', sans-serif;
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    padding: 10px 0 10px 0;
}

.product-offering {
    width:25%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 0 0 80px 0;
}

.services-img {
width:100px;
height:auto;
border: 5px;
border-style: solid;
border-color: #3882f6;
padding: 20px;
border-radius: 20px;
}

.services-img:hover{
background-color: #1f2937;
}

figure {
margin: 0 20px 20px 20px;
}

figcaption {
font-family: 'Roboto-regular',sans-serif;
text-align: center;
color: gray;
}

.quote-container-background{
    background-color: #e5e7eb;
    padding: 80px 0 80px 0;
}

.quote-container{
    background-color: #e5e7eb;
    font-family: 'Roboto-light-italic', sans-serif;
    font-size: 36px;
    color: #1f2937;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width:70%;
    height:auto;
    margin:auto;
}

#initials{
    font-family: 'Roboto-bold', sans-serif;
    color: #1f2937;
    text-align: right;
    margin-right: 50px;
    font-size: 18px;
}

.call-to-action {
background-color: #3882f6;
font-size: 18px;
color: #e5e7eb;
font-family: 'Roboto-regular',sans-serif;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
width: 60%;
margin:100px auto 5px auto;
border-radius: 8px;
padding: 40px 60px 40px 60px;
}

.call-to-action p {
    margin: 5px 0 5px 0;

}

#the-call {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0;
}

#final-button {
    font-family: 'Roboto-regular', sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-color: #3882f6;
    color: #f9faf8;
    border: solid;
    border-radius: 8px;
    width: 160px;
}

#final-button:hover {
    background-color: #f9faf8;
        color: #3882f6;
    }

footer {
    background-color: #1f2937;
    font-family: 'Roboto-regular',sans-serif;
    color: #f9faf8;
   text-align: center;
   font-size: 18px;
   margin-top: 100px;
   padding: 50px 0 50px 0;
}